.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item{
    background: #4a4e69;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover{
    border-color: var(--color-primart-variant);
    background: transparent;
}

.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* .btnn{
    width: max-content;
    display: inline-block;
    color: #7209b7;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btnn:hover{
    background-color: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btnn-primary{
    background-color: #7209b7;
    color: #7209b7;
} */

/* Media Queries - Meduim Devices(Tablets) */
@media screen and (max-width: 1024px) {
    .portfolio_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;    
    }

}


/* Media Queries - Small Devices(Phones) */
@media screen and (max-width: 1024px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}